body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(https://cdn.glitch.com/f4b5730f-2a28-4c77-900c-464991553152%2Ftile.svg?1558141090359);
}

.box {
  --box-color: #00F;
  
  border: 2px solid var(--box-color);
  box-shadow: 10px 10px 0 0 var(--box-color);
  background-color: #fff;
  padding: 8px 16px;
  display: table;
}

button {
  font-family: 'Courier New', Courier, monospace;  
}

button.box {
  box-shadow: 4px 4px 0 0 var(--box-color);
}

.container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 8px;
}

.container h1 {
  margin-top: 0;
  padding-bottom: 32px;
  padding-right: 64px;
}

.messages {
  opacity: 0.75;
  position: absolute;
  bottom: 0.5em;
}

.identity {
  transform: translateX(32px) translateY(-48px);
}

.log-out {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(calc(64px + 6px)) translateY(calc(32px + 14px));
}