body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(https://cdn.glitch.com/f4b5730f-2a28-4c77-900c-464991553152%2Ftile.svg?1558141090359);
}

.box {
  --box-color: #00F;
  
  border: 2px solid var(--box-color);
  box-shadow: 10px 10px 0 0 var(--box-color);
  background-color: #fff;
  padding: 8px 16px;
  display: table;
}

button.box {

}